<!DOCTYPE html>
<html lang="pt-BR"> <!-- linguagen definida em pt-BR-->
<head>
    <meta charset="UTF-8"><!--possibilita utilizar letras e com caracteres e acentos-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--compatililidade de navegador-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/humor/static/style.css"><!--importando arquivo css-->
    <script src="/humor/static/index.js"></script><!--importando arquivo js-->
   <!-- <link rel="shortcut icon" href="" type="image/x-icon" />fazer icon na favicon e importar-->
    <title><b>Mudança de Humor</b></title><!--Título da pagina-->
</head>
<body class="fundos" background="../img/fundos.jpg" width="100" height="100 "> <!--Fundos da página no corpo(body)-->
    <div class="mudanca">
        <img id="imagem" src="" alt="Jim" /><!--ID PARA DEFINIR E CHAMAR  A IMAGEM DO ARQUIVO JS-->
        <p id="paragrafo"></p>

        <div id="botao">
            <p><b>Alteração de Humor</b></p>
        </div>
    </div>

    
</body>
</html>